<div class="bg-gray-100 min-h-screen">
  <!-- Header -->
  <div class="bg-[#dbe9f4] text-center p-6">
    <div class="flex">
      <div class="flex-6 p-3">
        <h1 class="text-5xl font-[700]">SOLICITUD DE PRE-INSCRIPCIÓN</h1>
      </div>
      <div class="flex-1 invisible"></div>
    </div>
    <div class="flex flex-row items-stretch">
      <div class="bg-slate-800 px-6 py-12 flex items-center">
        <p class="text-white text-left text-2xl font-light">
          El presente formulario tiene la finalidad de codificar tus datos, los
          cuáles están resguardados y nos permite iniciar tu expediente para los
          procesos administrativos de tu ingreso al Sistema de Educación Abierta
        </p>
      </div>
      <div class="bg-sky-600 p-3 ps-6 w-64 flex items-center justify-center">
        <img
          src="cobach-logo.png"
          alt="Colegio de Bachilleres de Chiapas"
          class="mix-blend-multiply"
        />
      </div>
    </div>
  </div>
  <div class="max-w-5xl mx-auto p-8 mt-4">
    <form
      [formGroup]="formulario"
      (ngSubmit)="submit()"
      class="bg-white rounded-lg shadow-lg overflow-hidden"
    >
      <!-- Datos Escolares -->
      <div class="bg-slate-800 py-6 px-6 flex items-center">
        <div class="w-1 h-8 bg-blue-400 mr-4"></div>
        <span class="text-white text-2xl">Datos escolares</span>
      </div>
      <div class="p-6 space-y-6">
        <!-- Primera vez -->
        <div class="bg-slate-100 rounded-lg p-3">
          <label for="primeraVez" class="block px-1 mb-3 text-lg"
            >¿Es la primera vez que te inscribes a un bachillerato?</label
          >
          <div class="space-y-3">
            <label class="flex items-center">
              <input
                (click)="primeraVez('si')"
                type="radio"
                name="primeraVez"
                id="primeraVez"
                value="si"
                class="mr-3 peer/primeraVez hidden"
              />
              <span
                class="bg-gray-300/50 px-3 py-2 rounded-xl peer-checked/primeraVez:bg-indigo-600 peer-checked/primeraVez:text-white transition hover:cursor-pointer"
                >Sí, es mi primera vez estudiando un bachillerato</span
              >
            </label>
            <label class="flex items-center">
              <input
                (click)="primeraVez('no-cobach')"
                type="radio"
                name="primeraVez"
                id="primeraVez-no-cobach"
                value="no-cobach"
                class="mr-3 peer/primeraVez hidden"
              />
              <span
                class="bg-gray-300/50 px-3 py-2 rounded-xl peer-checked/primeraVez:bg-indigo-600 peer-checked/primeraVez:text-white transition hover:cursor-pointer"
                >No, he estudiado antes en COBACH</span
              ></label
            >
            <label class="flex items-center">
              <input
                (click)="primeraVez('no-otra')"
                type="radio"
                name="primeraVez"
                id="primeraVez-no-otra"
                value="no-otra"
                class="mr-3 peer/primeraVez hidden"
              />
              <span
                class="bg-gray-300/50 px-3 py-2 rounded-xl peer-checked/primeraVez:bg-indigo-600 peer-checked/primeraVez:text-white transition hover:cursor-pointer"
                >No, vengo de una escuela diferente a COBACH</span
              >
            </label>
          </div>
        </div>
        <!-- Matricula -->
        @if (formulario.get('matricula')?.disabled === false) {
        <div class="bg-slate-100 rounded-lg p-3">
          <label for="matricula" class="block px-1 mb-3 text-lg"
            >Ingrese su matrícula</label
          >
          <input
            type="text"
            formControlName="matricula"
            id="matricula"
            class="w-full max-w-md px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white placeholder:text-gray-400 disabled:opacity-50"
            placeholder="Número de matrícula"
          />
          <div class="px-1 text-gray-600">Máximo 15 caracteres</div>
        </div>
        }
        <!-- Sede -->
        <div class="bg-slate-100 rounded-lg p-3">
          <label for="sede" class="block px-1 mb-3 text-lg"
            >Seleccione la sede</label
          >
          <select
            formControlName="idSede"
            id="idSede"
            class="w-full max-w-md px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white placeholder:text-gray-400 disabled:opacity-50"
            required
          >
            <option value="1">Sede 02 | Tuxtla Gutiérrez</option>
            <option value="2">Sede 05 | Venustiano Carranza</option>
            <option value="3">Sede 06 | Comitán</option>
            <option value="4">Sede 07 | Ocosingo</option>
          </select>
        </div>
      </div>
      <!-- Datos personales -->
      <div class="bg-slate-800 py-6 px-6 flex items-center">
        <div class="w-1 h-8 bg-blue-400 mr-4"></div>
        <span class="text-white text-2xl">Datos escolares</span>
      </div>
      <div class="p-6 space-y-6">
        <!-- Nombre -->
        <div class="bg-slate-100 rounded-lg p-3">
          <label for="matricula" class="block px-1 mb-3 text-lg"
            >Nombre</label
          >
          <input
            type="text"
            formControlName="nombre"
            id="nombre"
            class="w-full max-w-md px-4 py-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent bg-white placeholder:text-gray-400 disabled:opacity-50"
            placeholder="César Sánchez"
          />
          <div class="px-1 text-gray-600">Nombre/s</div>
        </div>
      </div>
      <!-- Botón de envío -->
      <div class="p-6 text-center bg-gray-50">
        <button
          type="submit"
          class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-8 rounded-lg transition duration-200 shadow-lg hover:shadow-xl"
        >
          Enviar formulario
        </button>
      </div>
    </form>
  </div>
</div>
